* {
  font-family: "EB Garamond", serif;
}

.card-title1 {
  color: #ea82b7;
  font-size: 32px;
  font-weight: bolder;
}

.card-text2 {
  text-align: end;
}

.card-title2 {
  text-align: end;
  font-size: 32px;
  font-weight: bolder;
  color: white;
}

#card2 {
  background-color: #ea82b870;
}

.card-text3 {
  text-align: center;
}

.card-title3 {
  text-align: center;
  color: #ea82b7;
  font-size: 32px;
  font-weight: bolder;
}
