.contact-box {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: flex-start;
  background-color: #ea82b870;
  height: 100vh;
}

.contact-us {
  text-align: center;
}

.surround-box {
  display: flex;
  height: 40vh;
  width: 30vw;
  background-color: #fbfbfd;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.email-box,
.text-box {
  text-align: center;
}

.contact-title {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  color: #ea82b7;
  background-color: #ea82b870;
  font-size: 40px;
  padding-top: 8%;
  padding-bottom: 2%;
}
