.service-box {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  background-color: #ea82b870;
  height: 100vh;
}

.services {
  text-align: center;
}

.surround-services-box {
  display: flex;
  height: 50vh;
  width: 30vw;
  background-color: #fbfbfd;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 20px;
}

.service-box,
.text-box {
  text-align: center;
}

.service1 {
  padding: 5%;
  font-weight: bolder;
  color: #ea82b7;
}
